@page "/venues/facility-booking/new-booking/{facilityId:int}"
@using HealthIsWealth.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.Domain
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Timeslot</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@dateInputModel" method="post" OnValidSubmit="()=>FindTimeslots(timeslotDate)" FormName="create" Enhance>
            <CustomValidation @ref="customValidation" />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="timeslotDate" class="form-label">Booking Date:</label> 
                <InputDate id="timeslotDate" @bind-Value="@timeslotDate" class="form-control"
                           min="@minDate.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" />
            </div>
            <button type="submit" class="btn btn-primary">Find Timeslots</button>
        </EditForm>
    </div>
</div>
<div>
    @if (AvailableEndTimes.Count() > 0 && AvailableStartTimes.Count() > 0)
    {
        <EditForm Model="@dateInputModel" method="post" OnValidSubmit="AddBookingTimeslot" FormName="create" Enhance>
            <CustomValidation @ref="customValidation" />
            <ValidationSummary class="text-danger" role="alert" />
        
            <div class="mb-3">
                <label for="startTime" class="form-label">Start Time:</label>
                <InputSelect id="startTime" @bind-Value="startTime" class="form-control">
                    @foreach (TimeOnly time in AvailableStartTimes)
                    {
                        <option value="@time">@time.ToShortTimeString()</option>
                    }
                </InputSelect>
                <InputSelect id="endTime" @bind-Value="endTime" class="form-control">
                    @foreach (TimeOnly time in AvailableEndTimes)
                    {
                        <option value="@time">@time.ToShortTimeString()</option>
                    }
                </InputSelect>
            </div>
            <button type="submit" class="btn btn-primary">Find Timeslots</button>
        </EditForm>
    }
        else
    {
        <p>No timeslots found.</p>
    }
</div>

<div>
    <a href="/timeslots">Back to List</a>
</div>

@code {
    [Parameter]
    public int facilityId { get; set; }

    [SupplyParameterFromForm]
    private DateOnly timeslotDate { get; set; } = DateOnly.FromDateTime(DateTime.Today.AddDays(1));

    [SupplyParameterFromForm]
    private TimeOnly startTime { get; set; }

    [SupplyParameterFromForm]
    private TimeOnly endTime { get; set; }

    private IList<TimeOnly> AvailableStartTimes = new List<TimeOnly>();
    private IList<TimeOnly> AvailableEndTimes = new List<TimeOnly>();

    private DateOnly minDate = DateOnly.FromDateTime(DateTime.Today.AddDays(1));
    private DateOnly maxDate = DateOnly.FromDateTime(DateTime.Today.AddDays(14));

    private CustomValidation? customValidation;

    private DateInputModel dateInputModel { get; set; } = new();

    private Facility? facility;

    private string? userId;



    protected override async void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();
        facility = await context.Facility.FirstOrDefaultAsync(f=>f.FacilityId==facilityId);
        if (facility is null)
        {
            NavigationManager.NavigateTo("/");
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var userIdClaim = user.FindFirst("userId");

        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    private async Task AddBookingTimeslot()
    {
        // using var context = DbFactory.CreateDbContext();
        // context.Timeslot.Add();
        // await context.SaveChangesAsync();
        // NavigationManager.NavigateTo("/timeslots");
        FindTimeslots(timeslotDate);
    }

    private sealed class DateInputModel
    {
        public DateOnly timeslotDate;
    }

    private void FindTimeslots(DateOnly date)
    {
        using var context = DbFactory.CreateDbContext();
        IList<Timeslot> FilteredTimeslots = context.Timeslot.Where(t => t.FacilityId == facilityId &&
            DateOnly.FromDateTime(t.StartDT).Equals(timeslotDate)).ToList();
        AvailableStartTimes = new List<TimeOnly>();
        AvailableEndTimes = new List<TimeOnly>();
        // 7AM TO 10PM
        for (int i=7; i<22; i++)
        {
            if (!FilteredTimeslots.Any(t => t.StartDT.Hour <= i && i < t.EndDT.Hour))
            {
                AvailableStartTimes.Add(new TimeOnly(i, 0, 0)); // When a start time is available
                AvailableEndTimes.Add(new TimeOnly(i + 1, 0, 0)); // The end time is available an hour later
            }
        }
        StateHasChanged();
    }
}
