@page "/venues/facility-booking/new-booking/{facilityId:int}"
@using HealthIsWealth.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.Domain
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Find Timeslots</PageTitle>

<div class="container-centered">
    <div style="width: 80%">
        @if (facility is not null)
        {
            <h1 class="title-large" style="color: crimson">@facility.Venue.Name</h1>
            <h2 class="title-medium" style="color:crimson">@facility.Name</h2>
        }
        else
        {
            <p><em>loading...</em></p>
        }
        <hr />
        @if (dateInputModel is not null)
        {
            <div class="row">
                <div class="col-md-4">
                    <EditForm Model="@dateInputModel" method="post" 
                    OnValidSubmit="()=>FindTimeslots(dateInputModel.timeslotDate, dateInputModel.hours)" FormName="search" Enhance>
                        <ValidationSummary class="text-danger" role="alert"/>
                        <div class="mb-3">
                            <label for="timeslotDate" class="form-label">Booking Date:</label> 
                            <InputDate id="timeslotDate" @bind-Value="dateInputModel.timeslotDate" class="form-control"
                            min="@minDate.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="mb-3">
                            <label for="hours" class="form-label">Number of hours:</label>
                            <InputNumber id="hours" @bind-Value="dateInputModel.hours" class="form-control"
                            min="1" max="4" />
                        </div>
                        <button type="submit" class="btn btn-primary">Find Timeslots</button>
                    </EditForm>
                </div>
            </div>
        } else
        {
            <p><em>loading...</em></p>
        }
        <div>
            @if (!timeslotsFound)
            {
                <p style="color: crimson">No timeslots found.</p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int facilityId { get; set; }

    [SupplyParameterFromForm]
    private DateInputModel dateInputModel { get; set; }

    private bool timeslotsFound = true;

    private IList<DateTime> AvailableStartTimes = new List<DateTime>();
    private IList<DateTime> AvailableEndTimes = new List<DateTime>();

    private DateOnly minDate = DateOnly.FromDateTime(DateTime.Today.AddDays(1));
    private DateOnly maxDate = DateOnly.FromDateTime(DateTime.Today.AddDays(14));

    private Facility? facility;

    private string? userId;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        facility = await context.Facility.Include(f=>f.Venue).FirstOrDefaultAsync(f => f.FacilityId == facilityId);
        if (facility is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var userIdClaim = user.FindFirst("userId");

        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        dateInputModel = new();
    }

    private sealed class DateInputModel
    {
        public DateOnly timeslotDate = DateOnly.FromDateTime(DateTime.Today.AddDays(1));
        public int hours = 1;
    }

    private async Task FindTimeslots(DateOnly date, int hours)
    {
        using var context = DbFactory.CreateDbContext();
        IList<Timeslot> FilteredTimeslots = context.Timeslot.Where(t => t.FacilityId == facilityId &&
            DateOnly.FromDateTime(t.StartDT).Equals(date)).ToList();
        AvailableStartTimes = new List<DateTime>();
        int count = 0;
        // 7AM TO 10PM
        for (int i=7; i<22; i++)
        {
            count += count!=hours? 1: 0;
            if (FilteredTimeslots.Any(t => t.StartDT.Hour <= i && i < t.EndDT.Hour))
            {
                count = 0; 
            }
            if (count == hours)
            {
                NavigationManager.NavigateTo(
                    $"/venues/facility-booking/new-booking/{facilityId}/timeslots?date={date.ToString("yyyy-MM-dd")}&hours={hours}");
                return;
            }
        }
        timeslotsFound = false;
        StateHasChanged();
        await Task.CompletedTask;
    }
}
