@using HealthIsWealth.Domain
@using Microsoft.AspNetCore.Identity
@using HealthIsWealth.Data
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<HealthIsWealthContext> DbFactory

<div>
    <nav class="nav-bar">
        <h3 class="nav-branding">HealthIsWealth</h3>
        <ul>
            <li><a class="nav-click" href="">Home</a></li>
            <li>
                <a class="nav-click" href="/venues">Venues</a>
                <ul>
                    <li><a class="dropbtn" href="/venues">All Sports</a></li>
                    @foreach (Sport sport in Sports)
                    {
                        <li><a href="/venues?sportid=@sport.SportId">@sport.Name</a></li>
                    }
                </ul>
            </li>
            <li><a class="nav-click" href="/Bookings">Bookings</a></li>
            <li><a class="nav-click" href="/Account/Profile">Profile</a></li>
        </ul>

        <div class="nav-auth">
            <AuthorizeView>
                <Authorized>

                    <a class ="pic-link" href="/Account/Profile">
                        <img src="@userProfilePic" class="nav-profile-img" alt="Profile" />
                    </a>
        
                    <button class="hamburger @(isPanelOpen ? "active" : "")" @onclick="ToggleSidePanel">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Login" class="auth-link">Login</a>
                    <a href="Account/Register" class="register-btn">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

<div class="side-panel @(isPanelOpen ? "open" : "")">
    <div class="panel-content">
        <AuthorizeView>
            <Authorized>
                <a href="Account/Profile" class="panel-link">My Profile</a>
                <a href="Account/Logout" class="panel-link logout-link">Logout</a>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

<div class="overlay @(isPanelOpen ? "active" : "")" @onclick="ToggleSidePanel"></div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    IList<Sport> Sports = new List<Sport>();

    private bool isPanelOpen = false;
    private string userProfilePic = "https://via.placeholder.com/150";

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var userPrincipal = authState.User;

        using var context = await DbFactory.CreateDbContextAsync();


        Sports = await context.Sport.ToListAsync();


        if (userPrincipal.Identity != null && userPrincipal.Identity.IsAuthenticated)
        {

            var userId = userPrincipal.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

            if (userId != null)
            {
                var user = await context.Users.FindAsync(userId);
                if (user != null && !string.IsNullOrEmpty(user.ProfilePictureUrl))
                {
                    userProfilePic = user.ProfilePictureUrl;
                }
            }
        }
    }

    private void ToggleSidePanel()
    {
        isPanelOpen = !isPanelOpen;
    }
}