@page "/venues/details"
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.Domain
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Venue Booking</PageTitle>
<div class="container-centered">
    <div style="width: 60%">
        @if (venue is not null)
        {
            <section class="slider-container">
                <div class="slider-wrapper">
            <div class="slider">
                <img src="@venue.ThumbnailImageUrl" alt="" id="slide-1" />
                <img src="images/placeholder/sports_banner.jpg" alt="" id="slide-2" />
                <img src="images/placeholder/sports.jpg" alt="" id="slide-3" />
            </div>
            <div class="slider-nav">
                <a href="@NavigationManager.Uri#slide-1" />
                <a href="@NavigationManager.Uri#slide-2" />
                <a href="@NavigationManager.Uri#slide-3" />
            </div>
        </div>
        </section>
        }
    <hr />
    @if (venue is null)
    {
        <h1><em>Loading...</em></h1>
    }
    else {
        <h1>@venue.Name</h1>
        <dl class="row">
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@venue.Address</dd>
            <dt class="col-sm-2">PostalCode</dt>
            <dd class="col-sm-10">@venue.PostalCode</dd>
            <dt class="col-sm-2">UnitNumber</dt>
            <dd class="col-sm-10">@venue.UnitNumber</dd>
        </dl>
        <div>
            <a href="@($"/venues")">Back to List</a>
        </div>
    }
    </div>
</div>

@code {
    private Venue? venue;
    private IQueryable<Facility> Facility;

    [SupplyParameterFromQuery (Name = "venueid")]
    private int VenueId { get; set; }

    [SupplyParameterFromQuery (Name = "sportid")]
    private int SportId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        venue = await context.Venue.FirstOrDefaultAsync(m => m.VenueId == VenueId);
        if (venue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        Facility = context.Facility.Include(f => f.FacilitySports).ThenInclude(fs=>fs.Sport);
    }
}
