@page "/venues/details"
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.Domain
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Venue Booking</PageTitle>

@if (venue is null)
{
    <h1><em>Loading...</em></h1>
}
else
{
    <h1>@venue.Name</h1>
}

<div>
    <hr />
    @if (venue is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@venue.Name</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@venue.Address</dd>
            <dt class="col-sm-2">PostalCode</dt>
            <dd class="col-sm-10">@venue.PostalCode</dd>
            <dt class="col-sm-2">UnitNumber</dt>
            <dd class="col-sm-10">@venue.UnitNumber</dd>
            <dt class="col-sm-2">ThumbnailImageUrl</dt>
            <dd class="col-sm-10">@venue.ThumbnailImageUrl</dd>
        </dl>
        <div>
            <a href="@($"/venues")">Back to List</a>
        </div>
    }
</div>

@code {
    private Venue? venue;
    private IQueryable<Facility> Facility;

    [SupplyParameterFromQuery (Name = "venueid")]
    private int VenueId { get; set; }

    [SupplyParameterFromQuery (Name = "sportid")]
    private int SportId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        venue = await context.Venue.FirstOrDefaultAsync(m => m.VenueId == VenueId);
        if (venue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        Facility = context.Facility.Include(f => f.FacilitySports).ThenInclude(fs=>fs.Sport);
    }
}
