@page "/venues/details"
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.Domain
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Venue Booking</PageTitle>
<div class="container-centered">
    <div style="width: 60%">
        @if (venue is not null && VenueImage is not null)
        {
            <section class="slider-container">
                <div class="slider-wrapper">
            <div class="slider">
                <img src="@venue.ThumbnailImageUrl" alt="" id="thumbnail" />
                @for (int i=0; i < VenueImage.Count; i++)
                {
                <img src=@VenueImage.ElementAt(i).ImageUrl alt="" id="slide-@i.ToString()" />
                }
            </div>
            <div class="slider-nav">
                <a href="@NavigationManager.Uri#thumbnail" />
                @for (int i = 0; i < VenueImage.Count; i++)
                {
                <a href="@NavigationManager.Uri#slide-@i.ToString()" />
                }
            </div>
        </div>
        </section>
        }
    @if (venue is null)
    {
        <h1><em>Loading...</em></h1>
    }
    else {
        <h1 class="fw-bolder" style="color: crimson">@venue.Name</h1>
        <dl class="row">
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@venue.Address</dd>
            <dt class="col-sm-2">PostalCode</dt>
            <dd class="col-sm-10">@venue.PostalCode</dd>
            <dt class="col-sm-2">UnitNumber</dt>
            <dd class="col-sm-10">@venue.UnitNumber</dd>
        </dl>
        <div>

        </div>
    }
    </div>
</div>

@code {
    private Venue? venue;
    private IList<VenueImage> VenueImage;

    [SupplyParameterFromQuery (Name = "venueid")]
    private int VenueId { get; set; }

    [SupplyParameterFromQuery (Name = "sportid")]
    private int SportId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        venue = await context.Venue.FirstOrDefaultAsync(m => m.VenueId == VenueId);
        if (venue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        VenueImage = context.VenueImage.Where(v => v.VenueId == VenueId).ToList();
    }
}
