@page "/venues"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HealthIsWealth.Domain
@using HealthIsWealth.Data
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory

<PageTitle>Browse Venues</PageTitle>
<div>
    <div class="banner-large image-single"
         style="background-image: linear-gradient(rgb(255,255,255,0.4),rgb(255,255,255,0.4)), url(images/placeholder/sports_banner.jpg)"
         id="nav-focus">
        <h1 class="fw-bold">
        @sportName
        </h1>
        <p class="fw-bold">
        @sportDesc
        </p>
    </div>
<QuickGrid Class="table-no-header table-light" Items="FilteredVenues">
    <TemplateColumn Context="venue">
        <div class="image-single container-medium" style="background-image: url(@venue.ThumbnailImageUrl),
            url(images/placeholder/sports.jpg)">
        </div>
    </TemplateColumn>
    <TemplateColumn Context="venue">
        <div>
            <h1 class="fw-bolder">@venue.Name</h1>
            <h5>@venue.Address</h5>
            <h5>@venue.PostalCode</h5>
            <h5>From: $@venue.Facilities.Min(f => f.Price)/hr</h5>
            <h5>@getRating(venue)</h5>
        </div>
    </TemplateColumn>    
</QuickGrid>
</div>

@code {
    private HealthIsWealthContext context = default!;

    [SupplyParameterFromQuery (Name="sportid")]
    private int? SportId { get; set; }

    private string? sportName;
    private string? sportDesc;

    private IQueryable<Venue> FilteredVenues;
    private IQueryable<Review> Reviews;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        if (SportId is not null && context.Sport.Find(SportId) is null)
        {
            // Navigates to venues page without sportid and replaces current entry in history stack
            NavigationManager.NavigateTo("/venues", false, true);
        }

        // Filters venue and facilities that supports the searched sport
        FilteredVenues = SportId is null
        ? context.Venue.Include(v => v.Facilities) :
        context.Venue.Include(v => v.Facilities
            .Where(f=>f.FacilitySports
                .Where(fs=>fs.SportId==SportId).Any()))
            .Where(v => v.Facilities
                .Where(f => f.FacilitySports
                    .Where(fs => fs.SportId == SportId)
                    .Any()).Any());

        Reviews = context.Review.Include(r=>
            r.Booking).ThenInclude(b=>
                b.Timeslot).ThenInclude(t=>
                    t.Facility);

        if (SportId is null)
        {
            sportName = "All";
            sportDesc = "Looking for a place for sports? Search for a facility below.";
        }
        else
        {
            sportName = context.Sport.Find(SportId).Name;
            sportDesc = context.Sport.Find(SportId).Description;
        }

        await base.OnInitializedAsync();
    }

    public string getRating(Venue venue)
    {
        IQueryable<Review> VenueReviews = Reviews.Where(r => r.Booking.Timeslot.Facility.VenueId == venue.VenueId);
        try
        {
            return $"{VenueReviews.Average(r => r.Rating)}/5   ({VenueReviews.Count()} reviews)";
        } catch (System.InvalidOperationException)
        {
            return "No Reviews";
        }

    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}